SpaceWatcher_back/bin/
SpaceWatcher_back/obj/
SpaceWatcher_front/bin/
SpaceWatcher_front/obj/

.env.dev
appsettings.Development.json
appsettings.json
Properties/

SpaceWatcher_front/
node_modules/
SpaceWatcher_front/node_modules/
dist/
SpaceWatcher_front/dist/

.vscode/
*.log
*.tmp

docker-compose.override.yml
